.product-card {
    height: 100%;
    transition: transform 0.3s;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.cart-badge {
    position: relative;
    top: -8px;
    right: 5px;
}
footer {
    font-family: Arial, sans-serif; /* フォントを指定 */
    background-color: #f1eeeb; /* 背景色を白に設定 */
    color: #383028; /* 文字色を濃い茶色に設定 */
    text-align: center; /* 全体の文字を中央揃え */

}
header {
    font-family: Arial, sans-serif; /* フォントを指定 */

    background-color: #ffffff; /* 背景色を白に設定 */
    color: #ffffff; /* 文字色を白に設定 */

    text-align: center; /* 全体の文字を中央揃え */
}
body {
    justify-content: center;
    font-family: Arial, sans-serif; /* フォントを指定 */
    background-color: #fff; /* 背景色を白に設定 */
    color: #383028; /* 文字色を濃い茶色に設定 */
    text-align: left; /* 全体の文字を中央揃え */
}
/* ボタン */
button.btn {
    background-color:  #897765;
    color: #ffffff;
    border: 1px solid #ffffff;
    font-size: 15px;     /* 文字サイズ */
    padding: 10px 20px;  /* 内側の余白 */
    min-width: 150px;     /* 最小幅は150px */
    width: auto;
    white-space: nowrap;
    height: 50px;        /* 高さ */
    margin-right: 10px;

}
/* ホバー時 */
button.btn:hover {
    background-color: #383028;  /* 背景色が茶に変わる */
    border: 1px solid #ffffff;
}
/* 通常リンク */
a {
    color:  #000000;           /* リンクの文字色 */
    text-decoration: none;
}

/* ホバー時のリンク */
a:hover {
    color:    #e9e3dd;       /* マウスオーバー時の色 */
}
/*検索バーのリンク*/
#searchInput {
            margin-bottom: 1em;
            padding: 0.8em;
            border: 1px solid #ffffff40;
            border-radius: 5px;
            font-size: 1em;
            background-color:#f1eeeb;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* エラーメッセージ */
.custom-modal .error-message {
    font-size: 0.9em;
}